html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
/* 	background-image: url('../img/stripes-bg.png'); */
	background-color: #ffeebb !important;
	background-repeat: repeat;
	background-position: left top;
}

.navbar {
	background-color: #B8E68A !important;
}

.header {
	height: 100px;
}

.footer {
	height: 50px;
	width: 100%;
	position: relative;
	bottom: 0;
	background-color: #ffcc99 !important;
/* 	background-color: #f5f5f5; */
}

.container {
	width: auto;
	max-width: 768px;
	padding: 0 15px;
}

.container .text-muted {
	margin: 20px 0;
}

.quote {
	font-size: 16px;
	border-left: none;
}

.main {
	background-color: #f5f5f5;
}
