/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
/* 	background-image: url('../img/stripes-bg.png'); */
/* 	background-repeat: repeat; */
/* 	background-position: left top; */
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
.container {
	width: auto;
	max-width: 768px;
	padding: 0 15px;
}

.container .text-muted {
	margin: 20px 0;
}

.header {
	height: 100px;
}

.quote {
	font-size: 16px;
	border-left: none;
}

.main {
	background-color: #f5f5f5;
}
